<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': appareilStatus === 'ALLUME',
                'list-group-item-danger': appareilStatus === 'Eteint'
                }">
  <h4 [ngStyle]="{color : getcolor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <button class="bt btn-success" (click)="onSwitchOn()" [disabled]="appareilStatus==='ALLUME'">Allumer</button>
  <button class="bt btn-danger" (click)="onSwitchOff()"[disabled]="appareilStatus==='Eteint'">Eteindre</button>
</li>
